<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="2" parallel="tests" thread-count="4" data-provider-thread-count="4">
	<test name="Test1">
		<classes>
			<class name="com.test.tests.GmailSignInTest"/>
		    <class name="com.test.tests.GoogleSearchTest"/>
		</classes>
	</test>  
</suite>