<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" parallel="methods" thread-count="10" data-provider-thread-count="4">
	<test name="Test1">
		<classes>
			<class name="com.test.SignInTest"/>
		    <class name="com.test.GoogleSearchTest"/>
		</classes>
	</test>  
</suite>